$theme-color:#fff;
$font-color-light:#f1f1f1;
$font-color-blue:lightblue;
$font-size-s:12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xll: 20px;
$border-color: #e4e4e4;
$background-color:#efefef;
$color-price:darkred